
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.bo{
  display: flex;
  padding: 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: hsl(205, 43%, 95%);
  background-image: url('pexels-pok-rie-33563-2049422.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.editor-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 70px;  
  font-weight: bold;
  font-family:sans-serif;
  width: 50%;  
  position: absolute;
  top: 10%;  
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 850px;
  padding: 90px 35px 35px;
  background: rgb(239, 249, 255);
  border-radius: 10px;
  box-shadow: 30px rgba(0,0,0,0.1);
}
.container.disable .editor-panel,
.container.disable .controls .reset-filter,
.container.disable .controls .save-img{
  opacity: 100%;
  pointer-events: none;
}
.container h2{
  margin-top: -8px;
  font-size: 22px;
  font-weight: 500;
}
.container .wrapper{
  display: flex;
  margin: 20px 0;
  min-height: 335px;
}
.wrapper .editor-panel{
  padding: 15px 20px;
  width: 280px;
  border-radius: 15px;
  border: 1px solid #ccc;
}
.editor-panel .title{
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.editor-panel .options, .controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.editor-panel button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: #6C757D;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
}
.editor-panel .filter button{
  width: calc(100% / 2 - 4px);
}
.editor-panel button:hover{
  background: #f5f5f5;
}
.filter button.active{
  color: #fff;
  border-color: hwb(215 32% 5%);
  background:hwb(215 32% 5%);
}
.filter .slider{
  margin-top: 12px;
}
.filter .slider .filter-info{
  display: flex;
  color: #464646;
  font-size: 14px;
  justify-content: space-between;
}
.filter .slider input{
  width: 100%;
  height: 5px;
  accent-color: #5372F0;
}
.editor-panel .rotate{
  margin-top: 17px;
}
.editor-panel .rotate button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 3px);
}
.rotate .options button:nth-child(3),
.rotate .options button:nth-child(4){
  font-size: 18px;
}
.rotate .options button:active{
  color: #fff;
  background: #5372F0;
  border-color: #5372F0;
}
.wrapper .preview-img{
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}
.preview-img img{
  max-width: 490px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.save-img{
  margin-right: 10px;
}
.controls button{
  padding: 11px 20px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.controls .reset-filter{
  color: hwb(200 15% 83%);
  border: 1px solid hwb(213 15% 82%);
  
}
.controls .reset-filter:hover{
  color: #fff;
  background: #6C757D;
}
.controls .choose-img{
  background: #6C757D;
  border: 2px solid hsl(207, 8%, 26%);
}
.controls .choose-img:hover{
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(207, 8%, 26%);
  color: black;
}
.controls .save-img{
  margin-left: 5px;
  background: #5372F0;
  border: 2px solid hwb(216 21% 30%);
}

.controls .save-img:hover{
  margin-left: 5px;
  background: #ffffff;
  border: 2px solid hwb(216 21% 30%);
  color:#1262d1;
}

@media screen and (max-width: 760px) {
  .container{
    padding: 25px;
  }
  .container .wrapper{
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel{
    width: 100%;
  }
  .wrapper .preview-img{
    width: 100%;
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 500px) {
  .controls button{
    width: 100%;
    margin-bottom: 10px;
  }
  .controls .row{
    width: 100%;
  }
  .controls .row .save-img{
    margin-left: 0px;
    margin-right:5px;
  }
}